figure.containerZoom
{
  background-position:50% 50%;
  position:relative;
  width:98%;
  overflow:automatic;
  cursor:zoom-in;
  margin:0
}

figure.containerZoom img
{
  transition:opacity .5s;
  display:block;
  width:98%;
  border-width: 5px;
  border-style: solid;
}

figure.containerZoom.active img
{
  opacity:0
}

